.div1{
  position: relative;
  width: 100%; /* Ajuste para o tamanho desejado */
  height: 100%; /* Ajuste para o tamanho desejado */
  display: flex;
  align-items: center; /* Alinha os itens ao centro verticalmente */
  justify-content: center;
  flex-direction: column;
}
.img{
  width: 100%;
  object-fit: cover;
}
.div1::after {
  content: '';
  background: rgba(5, 0, 0, 0.598); /* Ajuste a opacidade conforme necessário */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.div3{
  position: absolute; 
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.div3 h1{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  font-weight: lighter;
}
.div3 p{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: lighter;
}
.divbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.divbtn button{
  width: 160px;
  height: 40px;
  border-color: white  ;
  color: white;
  border-width: 0.5px;
}
.cordf{
  background-color: rgb(154, 69, 24);
}
.cordf2{
  background-color: black;
}